    <div class="row">
          <div class="col-lg-10 col-md-10 mb-12">
            <div class="card h-100">
                <img class="card-img-top" src="<%= @product.image %>" alt="<%= @product.name %>">
              <div class="card-body">
                <h4 class="card-title">
                  <%= @product.name %>
                </h4>
                <h5>R$<%= @product.price %></h5>
                <p class="card-text">
                  <%= @product.description %>
                </p>
              </div>
              <div class="card-footer">
                <% if shop_cart?(@product.id) %>
                  <a href="/ecomerce/cart/<%= @product.id %>/remove" style="color: red">Remover carrinho</a>
                <% else %>
                  <a href="/ecomerce/cart/<%= @product.id %>/add">Adicionar carrinho</a>
                <% end %>
              </div>
            </div>
          </div>
    </div>
    <!-- /.row -->