<div class="page-header">
  <%= link_to new_order_order_item_path(@order), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo
  <% end %>
  <h1>Listando itens pedido</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Order</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @order_items) do |order_item| %>
        <td><%= order_item.order.id %></td>
        <td><%= order_item.product.name %></td>
        <td><%= order_item.price %></td>
        <td><%= order_item.quantity %></td>
        <td><%= link_to 'Mostrar', order_order_item_path(@order, order_item) %></td>
        <td><%= link_to 'Editar', edit_order_order_item_path(@order, order_item) %></td>
        <td><%= link_to 'Deletar', order_order_item_path(@order, order_item), method: :delete, data: { confirm: 'Confirma?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
